!!!
%html
  %head
    %script{data: {main: './assets/js/app.js'}, src: './assets/js/vendor/requirejs/require.js'}
  %body
    #main-content
      .first
      .second
    %script#foo{type: "text/html"}
      <div>HELLO</div>
